<head>
<title>Doug`s Math Program</title>
<link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
<center>
<div class="title">
Welcome to Doug`s Math Program
</div>
<br>
<br>
<img alt="math" src="/img/math_logo.png" width="400" height="300" />
<br>
<br>
<div class="text">
What type of math would you like to do?
<br>(addition, subtraction, multiplication, division)
<br>
<form method="post" action="math">
	<input type="text" name="math_type">
	<br>
What numbers do you want to use?
 	<br>
	<input type="integer" name="p1">
	<br>
	<input type="integer" name="p2">
	<br>
	<br>
	<input type="submit">
</form>
</div>
</center>
</head>
</body>